<!DOCTYPE html>
<meta charset="utf-8">
<title>BMDB webug</title>
<style>
    body {
        font-family: sans-serif;
        background: #fff;
    }

    /* Logotype. */
    h1 {
        clear: both;
        padding-left: 1em;
        padding-top: 0.5em;
    }
    h1 a {
        text-decoration: none;
    }
    h1 a, h1 a:visited, h1 a:hover, h1 a:active {
        color: inherit;
    }
    h1 span.red {
        background-color: red;
        color: white;
        padding: 0.1em;
        border-radius: 0.4em;
    }
    h1 span.info {
        font-size: 0.5em;
        font-weight: normal;
        font-style: italic;
    }

    /* Section headers. */
    h2 {
        clear: both;
        width: 100%;
        text-align: center;
        font-size: 120%;
        background: #eeeeff;
    }

    /* Stylish tables. */
    table, th, td {
        background-color: #eee;
        padding: 0.2em 0.4em 0.2em 0.4em;
    }
    table th {
        background-color: #c0c0c0;
    }
    table {
        background-color: #fff;
        border-spacing: 0.2em;
    }

    /* Colouring of the Work History log in machine.gohtml. */
    tr.EventFailed td,
    tr.EventCanceled td {
        background-color: #f8e8e8;
    }
    tr.EventFinished td {
        background-color: #e8f8e8;
    }

    /* Colouring of the Machine State in fragment_tag_provided.gohtml. */
    b.StatusMissing,
    b.StatusProvisioning,
    b.StatusProvisioningFailedPermanent,
    b.StatusStopped
    {
        color: red;
    }
    b.StatusRunning {
        color: green;
    }

    /* Generic font style tags for any element. */
    .small {
        font-size: 0.8em;
    }
    .faint {
        color: #333;
    }
    .mono {
        font-family: monospace;
    }
    .error {
        color: #f00;
    }

    /* For simple column style layouts. */
    .vsplit {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
    }
    .column {
        flex-grow: 1;
        padding: 0.5em;
    }
</style>
<h1><a href="/">we<span class="red">bug</span></a> <span class="info">BMDB at {{ .BMDBAddress }} schema {{ .BMDBSchema }}</span></h1>